#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
PACKAGE_NAME=batman-adv
PACKAGE_VERSION={{ batman_adv_number }}

DEST_MODULE_LOCATION=/extra
BUILT_MODULE_NAME=batman-adv
BUILT_MODULE_LOCATION=net/batman-adv

MAKE="'make' CONFIG_BATMAN_ADV_BATMAN_V=y"
CLEAN="'make' clean"

AUTOINSTALL="yes"
