#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
/sbin/ip link add gre-bonn{{ servernummer }}-exit6 type gretap remote 10.102.0.1 local 10.102.0.2{{ servernummer }}
/sbin/ip link set up dev gre-bonn{{ servernummer }}-exit6

babeld  -C 'redistribute ip 2a03:2260:11e::/48 ge 48 metric 128' \
        -C 'redistribute deny' \
        -C 'redistribute local deny' \
        gre-bonn{{ servernummer }}-exit6 -t 90 -T 90 -r -g 33123 -D -s

ip -6 rule add from 2a03:2260:11e::/48 lookup freifunk
ip -6 rule add to 2a03:2260:11e::/48 lookup freifunk
ip addr add {{ network_ipv6_public }}10/64 dev br-ffintern
ip -6 r add {{ network_ipv6_public }}/64 dev br-ffintern table freifunk proto static
