server {
        listen {{ ansible_default_ipv4.address }}:{{ wireguard_nginx_port }};

        root /var/www/html;

        # Add index.php to the list if you are using PHP
        index index.html index.htm index.nginx-debian.html;

        server_name bonn{{ servernummer }}.kbu.freifunk.net;

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ =404;
        }


#   set_real_ip_from {{ ansible_default_ipv4.address }}/32;
#    real_ip_header X-Real-IP;
#    real_ip_recursive on;

  location ~* \.php$ {
    fastcgi_pass unix:/run/php/php7.3-fpm.sock;
    include         fastcgi_params;
    fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
    fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
  }


}

