#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
[Interface]
Address = 10.3.0.2/16
SaveConfig = true
PostUp = /etc/wireguard/on-up
ListenPort = 10020
PrivateKey = {{ wireguard_privatekey_nodes }}
